.scan {
    position: relative;
    display: flex;
    flex-direction:  column;
    align-items: center;
}
.scan .face{
    position: relative;
    width: 300px;
    height: 300px;
    background: "./face.png";
    background-size: 300px;
}
